/*
Table Of Content
1.0 Global styles
2.0 Header 
3.0 Footer 
4.0 Search Section
5.0 Partner Logo
6.0 Latest Notices
7.0 Online Pharmacy
8.0 Consult Doctor
9.0 Find Doctor
10.0 Health Articles
11.0 Tanya
12.0 Featured On
13.0 Review
*/

/* ********** 1.0 Global styles ********** */

html{
    box-sizing: border-box;
    overflow: auto; 
    font-size: 14px;
}
  
  body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
  }

  .mobile-only{
  display: none;
  }  
  
  .desktop-only{
  display: block;
  }
  
  @media (max-width: 768px){
  .mobile-only{
    display: block;
  }  
  .desktop-only{
    display: none;
  }
} 

/* ********** 2.0 Header ********** */

.header-user-link{
  display: inline-block;
}
 
.header-user-link svg {
  cursor: pointer;
  display: none;
  fill: #aaa;
  margin: 0 15px;
  position: relative;
  top: 13px;
  visibility: hidden;
  width: 45px;
}

/* 1.4. No select */

.header-user-link{
  display: inline-block;
}
 
.header-user-link svg {
  cursor: pointer;
  display: none;
  fill: #aaa;
  margin: 0 15px;
  position: relative;
  top: 13px;
  visibility: hidden;
  width: 45px;
}

/* 1.4. No select */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

/*
_    _ ______          _____  ______ _____
| |  | |  ____|   /\   |  __ \|  ____|  __ \
| |__| | |__     /  \  | |  | | |__  | |__) |
|  __  |  __|   / /\ \ | |  | |  __| |  _  /
| |  | | |____ / ____ \| |__| | |____| | \ \
|_|  |_|______/_/    \_\_____/|______|_|  \_\
 */
 
/* 2. header */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.1);
  padding-left:0;  
  position: sticky;
  top: 0; 
  width: 100%;
  z-index: 3;  
}

.header ul {
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-link , .header-link:hover , .header-link:active , .header-link:visited , .header-link:checked {
  color: #000;
  display: inline-block;
  font-size: 14px;
  margin: 0 10px;
  padding: 35px 0 28px 0;
  text-decoration: none; 
}

.header a:hover{
  color: #41c0f1;
}

@media (max-width: 960px) {
  .header-link, .header-link:hover, .header-link:active, .header-link:visited, .header-link:checked {
    color: #000;
    font-size: 14px;;
    padding: 20px 0 20px 20px;
    text-decoration: none;
  }
  .header-more-content{
    border-top:1px solid #ddd;
  }
  .header-more-content .header-link{
    display:none;
  }

}

.header-logo {
  height: 75px;
  margin: 5px 0 0 15px;
  padding: 10px;
  width: auto;
}

@media (max-width: 960px) {
  .header-logo {
    height: 60px;
    margin-right: -45px;
    margin-top: 0;
    padding: 10px;
    width: auto;
  }
}

/* 2.1 header menu */

.header .header-menu {
  float: right;
}

@media(min-width:960px){
  .header .header-menu {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 73%;
    float: none;
  }
  .header-svg{
    float: right;
    padding-right: 20px;
  }
}

@media(min-width:1130px){
  .header .header-menu {
    width: 78%;
  }
}

@media(min-width:1280px){
  .header .header-menu {
    width: 81%;
  }
}

.land-header-cart{
  background-color: #ff0000;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  height: 20px;
  left: 51px;
  position: relative;
  padding: 3px;
  text-align: center;
  top: -7px;
  width: 20px;
}

.land-user-icon{
  /* margin: 0 8px; */
  vertical-align: middle;
  width: 35px;
}

.header-svg{
  display: inline-block;
  margin-top: 25px;
  vertical-align: top;
}

@media(max-width:960px){
  .header-svg{
    float: right;
    margin-right: 8px;
    margin-top: 0;
    padding-top: 15px;
    text-align: center;
    vertical-align: top;
  }
  .land-user-icon{
    width: 28px;
  }
}

.header-svg a{
  text-decoration: none;
}

.header-menu-div,.header-menu-div-signup{
  border-bottom:3px solid transparent;
  display: inline-block;
}

@media(max-width:960px){
  .header-menu-div-signup{
    display: none;
  }
}

@media (max-width: 960px) {
  .header .header-menu {
    background-color: #fff;
    /* border-bottom: 1px solid #ddd; */
    height:0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 99999;
  }
  .header-menu-div,.header-menu-div-signup{
    width:100%;
  }
}

/* 2.2 header menu icon */

.header .header-menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

@media (min-width: 960px) {
  .header .header-menu-icon {
    display: none;
  }
}

@media (max-width:960px) {
  .header .header-menu-icon {
    display: block;
  }
}

.header .header-menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  width: 18px;
}

.header .header-menu-icon .navicon:before,
.header .header-menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .header-menu-icon .navicon:before {
  top: 5px;
}

.header .header-menu-icon .navicon:after {
  top: -5px;
}

.header-more-icon {
  height: 15px;
  margin-left: 5px;
  position: relative;
  top: 2px;
  width: 15px;
}

/* 2.3 header button */

.header .header-menu-btn {
  display: none;
}

.header .header-menu-btn:checked~.header-menu {
  height:calc(103vh - 80px);
  overflow: scroll;
  transition: all 0.5s;
}

.header .header-menu-btn:checked~.header-menu-icon .navicon {
  background: transparent;
}

.header .header-menu-btn:checked~.header-menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .header-menu-btn:checked~.header-menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .header-menu-btn:checked~.header-menu-icon:not(.steps) .navicon:before,
.header .header-menu-btn:checked~.header-menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.button-login-signup,.header-menu-div-signup .button-login-signup:hover {
  background-color: #41c0f1;
  border: 4px;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  height: 50px;
  margin-top: 19px;
  padding: 15px 28px;
  position: relative;
  text-decoration: none;
  text-align: center;
  top: -4px;
}



.icon-userlogin svg {
  margin-right: 24px;
  width: 40px;
}

.icon-userlogin img {
  height: 40px;
  margin-right: 24px;
  width: 40px;
}

/* 2.4 header dropdown */

@media (min-width: 960px) {
  .header-menu-div:hover {
    border-bottom: 3px solid #41c0f1;
  }
  .header-menu-div:hover a,.header-menu-div:hover a svg{
    color: #41c0f1;
    fill: #41c0f1;
    font-size: 14px;
  }
}

.header-dropdown-content {
  background-color: #fff;
  height:0;
  min-width: 160px;
  overflow: hidden;
  position: absolute;
  z-index: 1000;
}

.header-more-content .header-dropdown-content a {
  color: #000;
  display: block;
  padding: 20px;
  text-decoration: none;
  text-align: left;
}


@media (min-width: 960px) {
.header-more-content:hover .header-dropdown-content,.header-dropdown-content:hover{
  height:auto;
  border:1px solid #eee;
}
.header-more-content .header-dropdown-content a:hover {
  color:#41c0f1;
}
}

@media (max-width: 960px) {
  .header-more-content,.header-dropdown-content{
      height:calc(58px * 9); /*TODO Make this auto*/
      width:100%;
  }
  .header-dropdown-content a {
    font-size: 14px;;
      margin-left:10px;
  }

}

/* 2.5 media queries for content in hamburger for mobile */

@media (min-width: 960px) {
  .header li {
    float: left;
  }
}

/* 2.6 media queries for mobile and tab - 768px */

@media (max-width: 960px) {
  .icon-userlogin {
    align-items: center;
    border-bottom:1px solid #ddd;
    display: inline-flex;
    font-size: 14px;
    padding:20px 30px;
    width:100%;
  }
  .icon-userlogin a{
    color:#000;
    text-decoration: none;
  }
}

@media(max-width: 960px){
  .header{
    height: 65px;
  }
}

@media(min-width: 961px){
  .header{
    height: 85px;
  }
} 

/*Scrollbar*/

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background: #fff; 
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

::-webkit-scrollbar-thumb:active {
  background: #888; 
}



/*Horizontal scrollers*/
.scroller::-webkit-scrollbar-track
{
	border-radius: 4px;
	background-color: transparent;
}

.scroller::-webkit-scrollbar
{
	width: 4px;
  height: 8px;
	background-color: transparent;
}

.scroller::-webkit-scrollbar-thumb
{
	border-radius: 4px;
	background-color: rgba(119, 118, 118, 0.2);
}
.scroller{
  overflow: auto;
  white-space: nowrap;
}
@media(max-width:768px)
{
  .scroller{
    width:105%;
  }
} 


/* ********** 3.0 Footer ********** */

/* ********** 4.0 Search Section ********** */

.land-h1{
  font-size: 2em;
}
.land-search-svg{
  float: right;
  height: 15px;
}

.land-search-main{
  background-color: #2E5AA9;
  color: #fff;
  padding: 35px;
}

.land-p{
  font-size: 16px;
  margin: 45px 0;
}

.land-span{
  font-size: 16px;
}

.land-seach-play{
  margin-left: 20px;
  vertical-align: middle;
}

.land-search-div{
  text-align: center;
}

.land-search-span{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 15px;
  padding-top: 10px;
  text-align: left;
  width: 95%;
}

.land-search-span-2{
  text-align: left;
  width: 88%;
}

.land-search-input{
  border: none;
  border-radius: 6px 0 0 6px;
  height: 48px;
  margin-bottom: 3%;
  outline: 0;
  padding-left: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: top;
  width: calc(85% - 57px);
}

.land-searchbar{
  align-items: center;
  background: #408BF9;
  border: none;
  border-radius: 0 6px 6px 0;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  margin-left: -5px;
  outline: 0;
  vertical-align: top;
  width: 56px;
}

.land-search-div a{
  color: #000;
  margin: 0 auto;
  text-decoration: none;
  width: 80%;
}

.land-search-box img{
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  float: left;
  margin-right: 15px;
}

.land-search-box{
  background-color: #fff;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 0px 3px 6px #00000019;
  display: block;
  height: 123px;
}

.land-search-svg-div{
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}

.land-search-mobile-img{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  float: left;
  height: 123px;
  margin-right: 15px;
  width: 40%;
}

.land-search-mobile-img-1{
  background-image: url('images/doctoroncall-consult-doctor-mobile.png');
}

.land-search-mobile-img-2{
  background-image: url('images/doctoroncall-pharmacy-mobile.png');
}

.land-search-mobile-img-3{
  background-image: url('images/doctoroncall-book-appointment-mobile.png');
}

@media(max-width:576px){
  .land-h1{
    font-size: 28px;
  }
  .land-p{
    margin: 30px 0;
  }
  .land-search-box{
    border-radius: 8px;
    height: auto;
  }
  .land-search-span-2{
    margin: auto;
    width: 83%;
  }
  .land-search-div a{
    height: 99px;
    width: auto;
  }
  .land-search-span{
    font-size: 16px;
    margin-bottom: 7px;
    margin-top: 15px;
    padding-top: 5px;
    width: 94%;
  }
  .land-search-input{
    width: calc(99% - 57px);
  }
  .land-search-mobile-img{
    height: 99px;
    width: 43%;
  }
}

/* ********** 5.0 Partner Logo ********** */

.land-partner-div{
  box-shadow: 0px 3px 6px #00000029;
}

input.set { 
  display:none; 
}

#slide1:checked ~ .mask .overflow { 
  margin-left:0; 
}

#slide2:checked ~ .mask .overflow { 
  margin-left:-100%; 
}

#slide3:checked ~ .mask .overflow { 
  margin-left:-200%; 
}

#slide4:checked ~ .mask .overflow { 
  margin-left:-300%; 
}

#slides { 
  margin: auto; 
  position: relative; 
  width:80%; 
}

#slides .mask { 
  margin: auto; 
  overflow: hidden;
  width:90%; 
}

#slides .overflow { 
  width:400%; 
  -webkit-transform:translateZ(0); 
  -webkit-transition:all 0.5s ease-out; 
  -moz-transition:all 0.5s ease-out;
  -o-transition:all 0.5s ease-out; 
  transition:all 0.5s ease-out; 
}

#slides .slide { 
  background-color: #fff; 
  float: left;
  width: 25%;  
}

#controls { 
  width: 100%; 
}

#controls svg{
  height: 20px;
  margin-top: 20px;
}

#controls label {
  cursor: pointer; 
  display: none; 
  height: 60px;  
  margin-top: -30px;
  opacity: 0.3; 
  position: absolute; 
  top: 50%; 
  width: 5%; 
}

#controls label:hover { 
  opacity:0.8; 
}

#slide1:checked ~ #controls label:nth-child(2), #slide2:checked ~ #controls label:nth-child(3), #slide3:checked ~ #controls label:nth-child(4) { 
  display:block; 
  right:0; 
}

#slide2:checked ~ #controls label:nth-child(1), #slide3:checked ~ #controls label:nth-child(2), #slide4:checked ~ #controls label:nth-child(3) { 
  display: block; 
  left: 0; 
}

@media(max-width:576px){
  #slides .slide{
    display: flex;
  }
  .slide img{
    width: 35%;
  } 
  #slides{
    width: auto;
  }
  #controls svg{
    margin-left: 15px;
  }
}

/* ********** 6.0 Latest Notices ********** */

.land-notice-h2{
  margin-top: 6%;
}

.land-card{
  box-shadow: 0px 3px 6px #00000019;
  border: 1px solid #F0F0F0;
  border-radius: 8px;
  overflow: hidden;
}

.land-card p:nth-child(2){
  font-weight: bold;
}

.land-card p:nth-child(3){
  color: #408BF9;
}

.land-card p{
  margin: 5%;
}

.land-notice-img{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 180px;
}

.land-notice a{
  color: #000;
  text-decoration: none;
}

.land-notice-img-1{
  background-image: url('images/doctoroncall-kkm.png');
}

.land-notice-img-2{
  background-image: url('images/doctoroncall-thompson.png');
}

.land-notice-img-3{
  background-image: url('images/doctoroncall-columbia.png');
}

@media(max-width: 576px){
  .land-notice a{
    margin-bottom: 8%;
  }
  .land-notice-img{
    border-top-right-radius: 0;
    border-bottom-left-radius: 8px;
    float: left;
    height: 109px;
    margin-right: 15px;
    width: 35%;
  }
  .land-card p:nth-child(2) {
    margin-bottom: 4%;
  }
  .land-card p {
    margin: 3%;
    margin-bottom: 3%;
  }
  .land-notice-h2{
    margin-top: 60px;
  }
}

/* ********** 7.0 Online Pharmacy ********** */

.land-pharma-bw{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.land-pharma-seeall{
  text-align: right;
  white-space: nowrap;
}

.land-pharma-seeall a{
  text-decoration: none;
}

.land-pharma-med-a{
  box-shadow: 0px 3px 6px #00000019;
  border: 1px solid #F0F0F0;
  border-radius: 8px;
  cursor: pointer;
  margin: 3% 0;
  padding-bottom: 20px;
  text-align: center;
}

.land-pharma-med-a p{
  margin-left: 18px;
  margin-top: 20px;
  text-align: left;
  width: 70%;
}

.land-pharma-rating{
  vertical-align: top;
}

.land-pharma-rate{
  margin-left: 20px;
  text-align: left;
}

.land-pharma-med-a img{
  height: 110px;
  margin-top: 10px;
}

.land-pharma-cont{
  display: flex;
  justify-content: space-between;
}

.land-pharma-cont a{
  color: #000;
  text-decoration: none;
}

.land-pharma-star{
  fill: #ffd700;
  height: 15px;
}

.land-pharma-discount{
  background-color: #5CC161;
  border-radius: 0 8px;
  color: #fff;
  padding: 5px;
  transform: translate(394%, 0%);
  width: max-content;
}

.land-pharma-med{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.land-pharma-cta{
  background-color: #408BF9;
  border-radius: 4px;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 25px;
  margin-top: 35px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 65%;
}

.land-pharma-bw p{
  margin: 0;
}

.land-pharma-h2{
  margin-top: 6%;
}

@media(max-width:1199px){
  .land-pharma-h2{
    margin-top: 60px;
  }
  .land-pharma-cont{
    display: flex;
    overflow: auto;
    width: auto;
  }
  .land-pharma-cont a{
    margin: 3%;
    min-width: 150px;
  }
  .land-pharma-discount{
    transform: translate(247%, 0%);
  }
}

/* ********** 8.0 Consult Doctor ********** */

.land-consult-bg{
  background: linear-gradient(360deg, #E8F2FA 72%, #fff 50%);
}

.land-consult{
  background-color: #fff;
  box-shadow: 0px 3px 6px #00000019;
  border: 1px solid #F0F0F0;
  margin-top: 5%;
  padding: 30px;
  text-align: center;
}

.land-consult h2{
  margin: 0;
  margin-left: 20px;
  text-align: left;
}

.land-consult p:nth-child(2){
  margin-bottom: 35px;
  text-align: left;
}

.land-consult-number{
  text-align: center;
}

.land-consult-digit{
  color: #408BF9;
  font-size: 40px;
  font-weight: bold;
}

.land-consult-number p:nth-child(2){
  color: #408BF9;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.land-consult-number p:nth-child(3){
  width: 96%;
}

.land-consult-signup{
  color: #408BF9;
}

.land-book-div{
  display: flex;
  overflow: auto;
}

@media(max-width:576px){
  .land-consult h2{
    margin: 0;
  }
  .land-consult{
    padding: 20px;
  }
  .land-consult-number p:nth-child(2){
    display: inline-block;
    font-size: 14px;
  }
  .land-consult-digit{
    font-size: 20px;
    margin-right: 10px;
  }
  .land-consult p:nth-child(2){
    margin-bottom: 0;
  }
  .land-consult-number p:nth-child(3){
    text-align: left;
  }
  .land-consult-number{
    margin-top: 15px;
    text-align: left;
  }
  .land-consult{
    margin-top: 60px;
  }
}

@media(min-width:576px){
  .land-consult-number{
    display: inline-block;
  }
  .land-consult-desc{
    margin-left: 20px;
  }
}


/* ********** 9.0 Find Doctor ********** */

.land-book-bg{
  background-color: #E8F2FA;
  padding-bottom: 40px;
}

.land-book-bg h2{
  margin-top: 3%;
}

.land-book-card{
  box-shadow: 0px 3px 6px #00000019;
  border: 1px solid #F0F0F0;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.land-book-img{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 130px;
}

.land-book p{
  background: #fff;
  font-weight: bold;
  margin: 0;
  padding: 5% 0;
  text-align: center;
}

.land-book-wrap a{
  color: #000;
  text-decoration: none;
}

.land-book-wrap-2 a{
  color: #000;
  padding: 0;
  text-decoration: none;
  width: 25%;
}

.land-book-img-1{
  background-image: url('images/book-doctor-paediatrician.png');
}

.land-book-img-2{
  background-image: url('images/book-doctor-gynaecologist.png');
}

.land-book-img-3{
  background-image: url('images/book-doctor-psychiatrist.png');
}

.land-book-img-4{
  background-image: url('images/book-doctor-dermatologist.png');
}

.land-book-seeAll{
  background-color: #408BF9;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: block;
  padding: 15px;
  margin: 0 auto;
  margin-top: 30px;
  width: 15%;
}

.land-book-wrap-2{
  display: flex;
  justify-content: space-between;
}

@media(max-width:576px){
  .land-book-img{
    height: 110px;
  }
  .land-book-seeAll{
    width: 65%;
  }
  .land-book-wrap-2 a{
    min-width: 75vw;
  }
}

@media(max-width: 1199px){
  .land-book-wrap-2{
    display: flex;
    overflow: auto;
    width: auto;
  }
}

/* ********** 10.0 Health Articles ********** */

.land-book-div a{
  margin-bottom: 8%;
  margin-right: 10px;
  margin-top: 3%;
}

.land-book-seAll{
  background-color: #408BF9;
  border-radius: 4px;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 25px;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 65%
}

.land-health-img{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  height: 110px;
}

.land-health-img-1{
  background-image: url('images/doctoroncall-read-health-articles-1.png');
}

.land-health-img-2{
  background-image: url('images/doctoroncall-read-health-articles-2.png');
}

.land-health-img-3{
  background-image: url('images/doctoroncall-read-health-articles-3.png');
}

.land-health-img-4{
  background-image: url('images/doctoroncall-read-health-articles-4.png');
}


@media(max-width:576px){
  .land-book-div a{
    min-width: 60%;
  }
}

/* ********** 11.0 Tanya ********** */

.land-quest-banner-img{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://www.doctoroncall.com.my/images/coronavirus-images/bg BANNER.png');
  border-radius: 8px;
  height: 452px;
}

.land-quest-banner-text{
  color: #fff;
  left: 50%;
  position: absolute;
  width: 83%;
  text-align: center;
  top: 21%;
  transform: translate(-50%,-50%);
}

.land-quest-banner-text p:nth-child(1){
  font-size: 21px;
  font-weight: bold;
  padding-top: 40px;
}

.land-quest-banner-text p:nth-child(2){
  margin-bottom: 45px;
  margin-top: 35px;
}

.land-quest-cta{
  background-color: #D65858;
  border-radius: 8px;
  color: #fff;
  padding: 15px;
  text-decoration: none;
}

.land-quest-img{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  height: 120px;
}

.land-quest-img-1{
  background-image: url('images/doctoroncall-ask-question-1.png');
}

.land-quest-img-2{
  background-image: url('images/doctoroncall-ask-question-2.png');
}

.land-quest-img-3{
  background-image: url('images/doctoroncall-ask-question-3.png');
}

.land-quest-img-4{
  background-image: url('images/doctoroncall-ask-question-3.png');
}

.land-quest-img-5{
  background-image: url('images/doctoroncall-ask-question-5.png');
}

.land-quest-img-6{
  background-image: url('images/doctoroncall-ask-question-6.png');
}

.land-quest-div{
  display: flex;
}

.land-quest-bg{
  background-color: #E8F2FA;
  border-radius: 8px;
  margin-bottom: 5%;
}

.land-quest-div a{
  color: #000;
  margin: 0;
  text-decoration: none;
}

.land-quest-wrap{
  background-color: #E8F2FA;
  border-radius: 8px;
  padding: 15px;
}

@media(max-width:576px){
  .land-quest-img{
    float: left;
    height: 68px;
    margin-right: 15px;
    margin-bottom: 20px;
    width: 37%;
  }
  .land-quest-div p{
    margin-top: 0;
  }
}

/* ********** 12.0 Featured On ********** */

.land-feature-logo{
  justify-content: center;
}

.land-feature-mobile{
  display: flex;
  overflow: auto;
}

.land-feature-logo img{
  margin: -6px;
  width: 25%;
}

.land-feature-sub{
  border: 1px solid #D0D0D0;
  border-radius: 8px;
  margin-top: 25px;
  padding: 15px;
  padding-top: 0;
  padding-bottom: 30px;
  text-align: center;
}

.land-feature-sub p:nth-child(1){
  font-size: 24px;
  font-weight: bold;
}

.land-feature-sub p:nth-child(2){
  margin-bottom: 30px;
}

@media(min-width:576px){
  .land-feature-logo{
    display: flex;
  }
  .land-feature-mobile{
    display: none;
  }
}

/* ********** 13.0 Review ********** */